.vscode
hello-world/target/
escrow/escrow/target/
escrow/escrow/state/target
escrow/tamagotchi_v2/target
escrow/tamagotchi_v2/state/target
token/tamagotchi_v3/target
token/tamagotchi_v3/state/target
store/tamagotchi_v4/target
store/tamagotchi_v4/state/target